body {
  background-image: url("https://catherineasquithgallery.com/uploads/posts/2021-02/1613126896_187-p-fon-zheltii-multyashnii-224.jpg");

  h2 {
    text-align: center;
    margin-bottom: 25px;
  }
}

.competences {
  width: 80%;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  gap: 20px;
}

.competence {
  width: 20%;
  text-align: center;
  padding: 6px 12px;
  border: 2px solid black;
  margin: 5px;

  p {
    font-size: 24px;
  }
}

.myself {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 20px;

  img {
    width: 15%;
    height: 15%;
  }

  .name {
    margin-top: 20px;

    font-size: 2rem;
  }
}
